.swap-hero-logo {
  max-width: 100%;
  height: auto;
  padding: 0 20px;
}

.swap-cuckoo-logo {
  max-width: 100%;
  height: auto;
  padding: 0 0px 0px 0;
  margin: 0;
}

.wallet-icons {
  font-size: 4em;
}

.gradient-icon {
    background: -webkit-linear-gradient(45deg, rgba(165,97,229,1) 0%,rgba(103,122,243,1) 50%,rgba(126,222,238,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}

.exchange-logo {
  padding: 20px !important;
}

.img-team {
  border-radius: 5px;
}

@media (max-width: 992px) {
h1 {
  font-size:2rem;
}

.img-team {
    max-width: 50%;
    height: auto;
}
}


.parallax-window {
    min-height: 400px;
    background: transparent;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(165, 97, 229, 0.7) url(images/top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .8;
}

.cd-top:hover {
  background-color: rgb(165, 97, 229);
  opacity: 1;
}

ul.countdown {
    list-style: none;
    margin: 0px 0 0px;
    padding: 0;
    display: block;
    text-align: center;
}

ul.countdown li {
    display: inline-block;
}

ul.countdown li span {
    font-size: 4em;
    font-weight: 300;
    line-height: 80px;
}

ul.countdown li.seperator {
    font-size: 4em;
    line-height: 80px;
    vertical-align: top;
}

ul.countdown li p {
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    right: 30px;
    bottom: 30px;
  }
}
