html, body{
	font-family: 'Lato', sans-serif;
	color:#fff;
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	background-color: #000;
}
img{
	border-style:none;
}
hr{
	border:0;
	border-top:2px solid #fff;
	border-top:2px solid rgba(255, 255, 255, 0.6);
}
.animate-opacity{
	animation:opac 1s}@keyframes opac{from{opacity:0} to{opacity:1}
}
.animate-top{
	position:relative;
	animation:animatetop 1s;
}
@keyframes animatetop{
	from {
		top:-300px;
		opacity:0
	} to {
			top:0;
			opacity:1
	  }
  }
.swap-position{
     position: relative;
     top: 40%;
     transform: perspective(1px) translateY(-40%);
}
.swap-body{
	background:#000 url(images/background6.jpg) no-repeat center center fixed;
	opacity: 0;
    position: block;
    height: 100%;
    width: 100%;
	background-size:cover;
	animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1.7s;
    animation-fill-mode:forwards;
	text-align:center;
	overflow-y: auto;
}
.swap-logo img {
	padding-left:30px;
	padding-right:30px;
}
@keyframes fadeIn {
    0% {
		opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.swap-tag{
	font-size:21px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}
.swap-wallet{
	font-size:16px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
.swap-wallet a{
	color:#fff;
	text-decoration:none;
	margin:6px;
	margin-top:3px;
	margin-bottom:2px;
}
.swap-wallet a:hover{
	text-decoration:none;
	border-bottom:1px solid rgba(255, 255, 255, 0.8);
}
.media img{
	width:50px;
	height:46px;
}
.media img:hover{
	background-color:rgba(255, 255, 255, 0.25);
	border-radius: 8%;
}
.media img:active{
	background-color:rgba(255, 255, 255, 0.25);
	border-radius: 8%;
}